.comparison-image--before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
}
.comparison-image--after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 50%, 100%, 0);
    object-fit: cover;
}
.slider-handle {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: #fff;
    cursor: ew-resize;
    z-index: 2;
    transition: background-color 0.3s ease;
}
.slider-handle:hover {
    background-color: #00bcd4;
}
.slider-handle:focus {
    outline: 2px solid #00bcd4;
}
.slider-handle::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid transparent;
    height: 10px;
    width: 20px;
    /* background-color: aquamarine; */
    border-left-color: #fff;
    border-right: 0;
    margin-left: -6px;
    border-radius: 40%;
}
.slider-handle::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    border: 15px solid transparent;
    height: 10px;
    width: 20px;
    /* background-color: aquamarine; */
    border-right-color: #fff;
    border-left: 0;
    margin-right: -26px;
    border-radius: 40%;
}